<%- include('header') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(errors !=''){%>
      <p style="text-align: center;color:red;"><%= errors.categoryName.msg %></p>
    <% } %>

    <% if(success !=''){%>
      <p style="text-align: center;color:green;"><%= success %></p>
    <% } %>

    <form action="/addNewCategory" method="POST">
        <input type="text" name="categoryName" placeholder="Enter new category name" />
        <input type="submit" value="Add Category"/>
    </form>
    <p><a href="/category"> View All Category</a></p>
  </body>
</html>